.common-layout{
  width: 720px;
}
.main-header{
  background-color: #d9ecff;
  width: 700px;
  display: flex;
  margin-bottom: 10px;
  .blue-bar{
    width: 10px;
    height: auto;
    background-color: #409EFF;
  }
  .content{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-align: start;
  }
}
.body{
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  justify-content: space-between;
  text-align: start;
  .countdown-item{
    width: 32%;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 40px;
    border: #DCDFE6 1px solid;
    line-height: 40px;
    
    p{
      margin: 0;
      padding: 0 0 0 12px;
    }
    .base(@color){
      white-space: pre;
      font-weight: 800;
      font-size: 18px;
      display: inline-block;
      margin: 0 5px;
      color: @color;
    }
    &-name{
      .base(#000)
    }
    &-time{
      .base(#95d475)
    }
    &:hover{
      cursor: pointer;
      border: #FFF 1px solid;
      box-shadow: var(--el-box-shadow-light);
    }
  }
  .countdown-item.payoff{
    width: 66%;
  }
}
.bottom{
  display: flex;
  height: 32px;
  width: 95%;
  justify-content: space-between;
  padding: 0 15px;
  padding-top: 15px;
  margin: 15px auto ;
  border-top: #f4f4f5 1px solid;
}